:root {
    --turquoise: #00bcd4; /* Бірюзовий */
    --peach: #ffc1a1; /* Персиковий */
    --dark-gray: #333; /* Темно-сірий */
    --light-gray: #f9f9f9; /* Світло-сірий */
    --header-bg: url('https://th.bing.com/th/id/OIP._oOfjKn2CNtgFjomgg3waAHaHa?rs=1&pid=ImgDetMain');
    --nav-bg: url('https://th.bing.com/th/id/OIP.GWd5fLBKM0YtF2mIO34U2wHaHa?rs=1&pid=ImgDetMain');
}

body {
    background-image:url('OIP.png');
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--dark-gray);
}

header {
    background-image: var(--header-bg);
    background-size:auto;
    color: white;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav {
    
    background-image: var(--nav-bg);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 8px;
}

nav a:hover {
    color: white;
    background-color: var(--turquoise);
}

.hero {
    text-align: center;
    padding: 2rem 1rem;
    background-image: var(--nav-bg);
    color: var(--dark-gray);
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
}

.menu {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-image:url('OIP.png');
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-category {
    width: calc(33.333% - 3rem);
    background-color: var(--light-gray);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.menu-category:hover {
    transform: scale(1.05);
}

.menu-category h3 {
    margin: 0 0 1rem;
    color: var(--dark-gray);
    border-bottom: 2px solid var(--dark-gray);
    padding-bottom: 0.5rem;
}

.menu-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-category ul li {
    margin-bottom: 0.5rem;
    color: var(--dark-gray);
}

footer {
    background-image: var(--header-bg);
    text-align: center;
    padding: 1rem 0;
    color: white;
}

@media (max-width: 1480px) {
    .menu-category {
        width: calc(34% - 2rem);
    }
}

@media (max-width: 768px) {
    .menu-category {
        width: calc(100% - 2rem);
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {


    nav a {
        margin-bottom: 0.5rem;
    }
}